.send-btn {
  width: 4vw;
  height: 4.7vh;
  margin-top: 1.9vh;
  cursor: pointer;
  margin-left: 1vw;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input-box {
  margin-top: 2vh;
  margin-bottom: 3.5vh;
  padding-left: 0.7em;
  height: 4vh;
  width: 30vw;
  direction: ltr;
  overflow-wrap: break-word;
  font-size: 1.5vw;
}
