.message-list {
  width: 44vw;
  height: 40vh;
  overflow: -moz-scrollbars-vertical;
  overflow-y: auto;
  /* scroll-behavior: smooth; */
  border-radius: 1.3em;
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.messages-container {
  list-style-type: none;
  direction: rtl;
  padding: 1vw;
}
